.full {
    background-color: #1F2026;
}

.map {
    height: 100%;
    width: 76%;
    float: left;
}

.info_box {
    position: absolute;
    top: 1.5%;
    right: 25%;
    height: 15%;
    width: 20.5%;
    background-color: #333439;
    margin-right: 1px;
    border-radius: 5px;
    z-index: 9999;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: 2px solid white;
    display: none;
}

.icon_text_box {
    display: flex;
    color: white;
    font-size: 10px;
    align-items: center;
}

.icon_intensity_box {
    padding: 5px;
}

.icon_map_box {
    padding: 5px;
}

.icon_box {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 12%;
    right: 25%;
    margin-right: 1px;
    border-radius: 5px;
    z-index: 9999;
}

.icon_padding {
    margin: 3px;
    width: 70%;
}

.tsunami_box {
    display: flex;
}

.tsunami_text_box {
    margin-right: 11px;
    border: 2px solid white;
    padding: 3px;
    border-radius: 5px;
}

.tsunami_text {
    display: flex;
    color: white;
    font-size: 15px;
    align-items: center;
}

.tsunami_1 {
    background-color: #5CEE18;
}

.tsunami_2 {
    background: #FFEF29;
}

.tsunami_3 {
    background-color: red;
}

.tsunami_4 {
    background-color: #B131FF;
}

.tsunami_icon_box {
    display: grid;
    align-items: flex-end;
}

.report_list {
    background-color: #333439;
    height: 100%;
    width: 24%;
    float: right;
    overflow: hidden;
    border-radius: 5px;
}

.version_text {
    position: absolute;
    color: white;
    font-size: 12px;
    bottom: 5.5%;
    right: 31%;
}

.report {
    border-radius: 5px;
    margin: 5px;
    background-color: #232427;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.report_item {
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
}

.surface {
    z-index: 9999;
}

.report_click {
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.report_click_text {
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
    border: 1px solid white;
}

.report_text_box {
    width: 100%;
    padding-left: 10px;
}

.report_text {
    color: white;
    font-size: 20px;
}

.report_scale {
    padding-right: 10px;
}

.report_intensity {
    border-radius: 5px;
    text-align: center;
    width: 35%;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: grey;
}

.scrollbar::-webkit-scrollbar-button {
    display: none;
}

.eew_hide {
    display: none;
}

.eew_box {
    background-color: #333439;
    position: absolute;
    left: 0.5%;
    bottom: 0.5%;
    width: 23%;
    height: 20%;
    border-radius: 3px;
}

.report_hide {
    display: none;
}

.report_box {
    background-color: #333439;
    position: absolute;
    left: 0.5%;
    bottom: 0.5%;
    width: 23%;
    height: 20%;
    border-radius: 3px;
}

.report_title {
    color: white;
    padding-left: 3px;
    margin: 3px;
    height: 15%;
    display: flex;
    padding-right: 3px;
}

.report_text_1 {
    align-items: center;
    display: flex;
}

.report_body {
    margin: 5px;
    height: 75%;
    border-radius: 5px;
    display: flex;
    color: white;
    background-color: #333439;
}

.location_button {
    bottom: 7%;
    right: 28%;
    color: grey;
    position: absolute;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}

.setting_button {
    bottom: 7%;
    right: 25%;
    color: white;
    position: absolute;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}

.eew_title {
    color: white;
    padding-left: 3px;
    margin: 3px;
    height: 15%;
    display: flex;
    padding-right: 3px;
}

.eew_text {
    align-items: center;
    display: flex;
}

.eew_body {
    margin: 5px;
    height: 75%;
    border-radius: 5px;
    display: flex;
    color: white;
    background-color: #333439;
}

.detection_location_text {
    padding: 4px;
}

.intensity_box {
    border-radius: 3px;
    background-color: #333439;
    position: absolute;
    left: 0.5%;
    top: 0.5%;
    width: 6%;
    height: 16%;
}

.pga_box {
    border-radius: 3px;
    background-color: #333439;
    position: absolute;
    left: 7%;
    top: 11%;
    width: 6%;
    height: 5%;
    padding-bottom: 4px;
}

.station_text {
    color: white;
    position: absolute;
    right: 25%;
    bottom: 17%;
    font-size: 16px;
}

.padding_text {
    padding: 1px;
}

.station_box {
    color: white;
    background-color: #2B2B30;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    left: 7%;
    top: 0.5%;
    width: 14%;
    height: 8%;
    display: flex;
}

.hide {
    display: none;
}

.intensity_list {
    visibility: hidden;
    position: absolute;
    background-color: #2B2B30;
    border-radius: 5px;
    top: 17.5%;
    left: 0.5%;
    width: 9%;
    height: 25%;
    padding: 2px;
}

.text_focus {
    font-weight: 900;
}

.intensity_center {
    display: grid;
    align-items: center;
    text-align: center;
}

.intensity_list_item {
    color: white;
    display: flex;
    padding: 1px;
}

.time {
    font-size: 22px;
    bottom: 1%;
    position: absolute;
    right: 25%;
    color: red;
    background-color: #2B2B30;
    border-radius: 5px;
    padding: 2px;
}

.dot {
    max-height: 15px;
    max-width: 15px;
    border-radius: 50%;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 11px;
    font-weight: 900;
    border: 0.5px solid black;
}

.square {
    max-height: 15px;
    max-width: 15px;
    border-radius: 0%;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 11px;
    font-weight: 900;
    border: 0.5px solid transparent;
}

.pga_dot {
    max-height: 7px;
    max-width: 7px;
    border-radius: 50%;
    background-color: #00cd;
}

.intensity_0 {
    background-color: #A6ADAD;
    color: white;
}

.intensity_1 {
    background-color: #6B7878;
    color: white;
}

.intensity_2 {
    background-color: #1E6EE6;
    color: white;
}

.intensity_3 {
    background-color: #32B464;
    color: white;
}

.intensity_4 {
    background-color: #FFE05D;
    color: black;
}

.intensity_5 {
    background-color: #FFAA13;
    color: black;
}

.intensity_6 {
    background-color: #EF700F;
    color: black;
}

.intensity_7 {
    background-color: #E60000;
    color: white;
}

.intensity_8 {
    background-color: #A00000;
    color: white;
}

.intensity_9 {
    background-color: #5D0090;
    color: white;
}

.pga_-3 {
    background-color: rgb(0, 0, 205);
}

.pga_-2_9 {
    background-color: rgb(0, 7, 209);
}

.pga_-2_8 {
    background-color: rgb(0, 14, 214);
}

.pga_-2_7 {
    background-color: rgb(0, 21, 218);
}

.pga_-2_6 {
    background-color: rgb(0, 28, 223);
}

.pga_-2_5 {
    background-color: rgb(0, 36, 227);
}

.pga_-2_4 {
    background-color: rgb(0, 43, 231);
}

.pga_-2_3 {
    background-color: rgb(0, 50, 236);
}

.pga_-2_2 {
    background-color: rgb(0, 57, 240);
}

.pga_-2_1 {
    background-color: rgb(0, 64, 245);
}

.pga_-2 {
    background-color: rgb(0, 72, 250);
}

.pga_-1_9 {
    background-color: rgb(0, 85, 238);
}

.pga_-1_8 {
    background-color: rgb(0, 99, 227);
}

.pga_-1_7 {
    background-color: rgb(0, 112, 216);
}

.pga_-1_6 {
    background-color: rgb(0, 126, 205);
}

.pga_-1_5 {
    background-color: rgb(0, 140, 194);
}

.pga_-1_4 {
    background-color: rgb(0, 153, 183);
}

.pga_-1_3 {
    background-color: rgb(0, 167, 172);
}

.pga_-1_2 {
    background-color: rgb(0, 180, 161);
}

.pga_-1_1 {
    background-color: rgb(0, 194, 150);
}

.pga_-1 {
    background-color: rgb(0, 208, 139);
}

.pga_-0_9 {
    background-color: rgb(6, 212, 130);
}

.pga_-0_8 {
    background-color: rgb(12, 216, 121);
}

.pga_-0_7 {
    background-color: rgb(18, 220, 113);
}

.pga_-0_6 {
    background-color: rgb(25, 224, 104);
}

.pga_-0_5 {
    background-color: rgb(31, 228, 96);
}

.pga_-0_4 {
    background-color: rgb(37, 233, 88);
}

.pga_-0_3 {
    background-color: rgb(44, 237, 79);
}

.pga_-0_2 {
    background-color: rgb(50, 241, 71);
}

.pga_-0_1 {
    background-color: rgb(56, 245, 62);
}

.pga_0 {
    background-color: rgb(63, 250, 54);
}

.pga_0_1 {
    background-color: rgb(75, 250, 49);
}

.pga_0_2 {
    background-color: rgb(88, 250, 45);
}

.pga_0_3 {
    background-color: rgb(100, 251, 41);
}

.pga_0_4 {
    background-color: rgb(113, 251, 37);
}

.pga_0_5 {
    background-color: rgb(125, 252, 33);
}

.pga_0_6 {
    background-color: rgb(138, 252, 28);
}

.pga_0_7 {
    background-color: rgb(151, 253, 24);
}

.pga_0_8 {
    background-color: rgb(163, 253, 20);
}

.pga_0_9 {
    background-color: rgb(176, 254, 16);
}

.pga_1 {
    background-color: rgb(189, 255, 12);
}

.pga_1_1 {
    background-color: rgb(195, 254, 10);
}

.pga_1_2 {
    background-color: rgb(202, 254, 9);
}

.pga_1_3 {
    background-color: rgb(208, 254, 8);
}

.pga_1_4 {
    background-color: rgb(215, 254, 7);
}

.pga_1_5 {
    background-color: rgb(222, 255, 5);
}

.pga_1_6 {
    background-color: rgb(228, 254, 4);
}

.pga_1_7 {
    background-color: rgb(235, 255, 3);
}

.pga_1_8 {
    background-color: rgb(241, 254, 2);
}

.pga_1_9 {
    background-color: rgb(248, 255, 1);
}

.pga_2 {
    background-color: rgb(255, 255, 0);
}

.pga_2_1 {
    background-color: rgb(254, 251, 0);
}

.pga_2_2 {
    background-color: rgb(254, 248, 0);
}

.pga_2_3 {
    background-color: rgb(254, 244, 0);
}

.pga_2_4 {
    background-color: rgb(254, 241, 0);
}

.pga_2_5 {
    background-color: rgb(255, 238, 0);
}

.pga_2_6 {
    background-color: rgb(254, 234, 0);
}

.pga_2_7 {
    background-color: rgb(255, 231, 0);
}

.pga_2_8 {
    background-color: rgb(254, 227, 0);
}

.pga_2_9 {
    background-color: rgb(255, 224, 0);
}

.pga_3 {
    background-color: rgb(255, 221, 0);
}

.pga_3_1 {
    background-color: rgb(254, 213, 0);
}

.pga_3_2 {
    background-color: rgb(254, 205, 0);
}

.pga_3_3 {
    background-color: rgb(254, 197, 0);
}

.pga_3_4 {
    background-color: rgb(254, 190, 0);
}

.pga_3_5 {
    background-color: rgb(255, 182, 0);
}

.pga_3_6 {
    background-color: rgb(254, 174, 0);
}

.pga_3_7 {
    background-color: rgb(255, 167, 0);
}

.pga_3_8 {
    background-color: rgb(254, 159, 0);
}

.pga_3_9 {
    background-color: rgb(255, 151, 0);
}

.pga_4 {
    background-color: rgb(255, 144, 0);
}

.pga_4_1 {
    background-color: rgb(254, 136, 0);
}

.pga_4_2 {
    background-color: rgb(254, 128, 0);
}

.pga_4_3 {
    background-color: rgb(254, 121, 0);
}

.pga_4_4 {
    background-color: rgb(254, 113, 0);
}

.pga_4_5 {
    background-color: rgb(255, 106, 0);
}

.pga_4_6 {
    background-color: rgb(254, 98, 0);
}

.pga_4_7 {
    background-color: rgb(255, 90, 0);
}

.pga_4_8 {
    background-color: rgb(254, 83, 0);
}

.pga_4_9 {
    background-color: rgb(255, 75, 0);
}

.pga_5 {
    background-color: rgb(255, 68, 0);
}

.pga_5_1 {
    background-color: rgb(254, 61, 0);
}

.pga_5_2 {
    background-color: rgb(253, 54, 0);
}

.pga_5_3 {
    background-color: rgb(252, 47, 0);
}

.pga_5_4 {
    background-color: rgb(251, 40, 0);
}

.pga_5_5 {
    background-color: rgb(250, 33, 0);
}

.pga_5_6 {
    background-color: rgb(249, 27, 0);
}

.pga_5_7 {
    background-color: rgb(248, 20, 0);
}

.pga_5_8 {
    background-color: rgb(247, 13, 0);
}

.pga_5_9 {
    background-color: rgb(246, 6, 0);
}

.pga_6 {
    background-color: rgb(245, 0, 0);
}

.pga_6_1 {
    background-color: rgb(238, 0, 0);
}

.pga_6_2 {
    background-color: rgb(230, 0, 0);
}

.pga_6_3 {
    background-color: rgb(223, 0, 0);
}

.pga_6_4 {
    background-color: rgb(215, 0, 0);
}

.pga_6_5 {
    background-color: rgb(208, 0, 0);
}

.pga_6_6 {
    background-color: rgb(200, 0, 0);
}

.pga_6_7 {
    background-color: rgb(192, 0, 0);
}

.pga_6_8 {
    background-color: rgb(185, 0, 0);
}

.pga_6_9 {
    background-color: rgb(177, 0, 0);
}

.pga_7 {
    background-color: rgb(170, 0, 0);
}

#map {
    border-radius: 16px 0;
    background: linear-gradient(0deg, rgba(var(--md-sys-color-primary), .05) 0%, rgba(var(--md-sys-color-primary), .05) 100%), rgb(var(--md-sys-color-surface));
    height: 100%;
    outline: none;
    transition: border-radius .5s ease-in-out;
}

#map canvas:focus-visible {
    outline: none;
}

body {
    --custom-int-0: #6B7979;
    --custom-int-1: #757575;
    --custom-int-2: #2774C2;
    --custom-int-3: #7BA822;
    --custom-int-4: #E8D630;
    --custom-int-5: #E68439;
    --custom-int-6: #DB641F;
    --custom-int-7: #F55647;
    --custom-int-8: #DB1F1F;
    --custom-int-9: #862DB3;
}

.map-intensity-icon {
    position: absolute !important;
    color: white;
    font-weight: 500;
    font-family: "Google Sans", sans-serif;
    font-variant-numeric: tabular-nums;
    border-radius: 8px;
    height: 16px;
    width: 16px;
}

.map-intensity-icon.one {
    background-color: var(--custom-int-1);
    content: "1";
}

.map-intensity-icon.two {
    background-color: var(--custom-int-2);
    content: "2";
}

.map-intensity-icon.three {
    background-color: var(--custom-int-3);
    content: "3";
}

.map-intensity-icon.four {
    background-color: var(--custom-int-4);
    content: "4";
}

.map-intensity-icon.five {
    background-color: var(--custom-int-5);
    content: "5-";
}

.map-intensity-icon.five.strong {
    background-color: var(--custom-int-6);
    content: "6+";
}

.map-intensity-icon.six {
    background-color: var(--custom-int-7);
    content: "6-";
}

.map-intensity-icon.six.strong {
    background-color: var(--custom-int-8);
    content: "6+";
}

.map-intensity-icon.seven {
    background-color: var(--custom-int-9);
    content: "7";
}