.setting_list {
    background-color: #333439;
    height: 100%;
    width: 24%;
    float: right;
    overflow: hidden;
    border-radius: 5px;
}

.setting_item {
    color: white;
    width: 80%;
    padding: 5px;
    font-size: 25px;
    font-weight: 900;
}

.setting_icon {
    color: white;
    width: 20%;
    text-align: right;
    padding-right: 3px;
}

.setting {
    display: flex;
    border: 2px solid white;
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
    align-items: center;
}

.main {
    height: 100%;
    width: 76%;
    float: left;
    border-radius: 5px;
}

.info{
    background-color: grey;
    height: 100%;
    width: 99%;
    border-radius: 5px;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: grey;
}

.scrollbar::-webkit-scrollbar-button {
    display: none;
}