<html lang="zh-Hant">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/font.css" />
    <link rel="stylesheet" href="../css/intensity.css" />
    <link rel="stylesheet" href="../css/leaflet.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/pga.css" />
</head>

<body>
    <div class="tos">
        <div style="font-size: 64px;font-family: 'NotoSansTC-Bold';">TOS 服務條款</div>
    </div>

    <div id="map" class="map"></div>

    <div id="info-box" class="info-box">
        <div class="info-title-box">
            <div class="info-title-box-type">地震速報 ｜ CWA（取消）</div>
            <div class="info-title-box-value">第3報</div>
        </div>
        <div class="info-body-box">
            <div class="info-body-title-box">
                <div class="info-body-title-title-box intensity_8">6⁺</div>
                <div class="info-body-title-body-box">
                    <div class="info-body-location-text">臺南市歸仁區</div>
                    <div class="info-body-eq-box">
                        <div class="info-body-magnitude magnitude-6" data-background-text="規模">
                            <div class="info-body-magnitude-value">6.8</div>
                        </div>
                        <div class="info-body-depth depth-deep" data-background-text="深度">
                            <div class="info-body-depth-value">103.5</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-body-footer">
                <div class="info-body-footer-title">觀測最大震度</div>
                <div class="info-body-footer-value-container">
                    <span class="info-body-footer-value-time">2024-01-07 03:06</span>
                    <span class="info-body-footer-value-name">發震</span>
                </div>
            </div>
            <div class="cancel-box">
                <div class="cancel-title"><span>取</span><span>消</span></div>
                <div class="cancel-body">此地震速報已取消</div>
            </div>
        </div>
    </div>
    <div id="list-box" class="list-box">
        <div class="list-item">
            <div class="list-intensity-box intensity_8">6⁺</div>
            <div class="list-info-box">
                <div style="padding: 12px;line-height: 1;">
                    <div style="font-size: 17px;font-family: 'NotoSansTC-Bold';">臺南市歸仁區</div>
                    <div style="font-size: 10px;font-family: 'OpenSans-SemiBold';padding-top: 5px;">
                        2024-01-07 03:06
                    </div>
                </div>
                <div class="list-mag-box">
                    <div class="list-mag-text" style="font-size: 20px; margin-right: 5px;">M</div>
                    <div class="list-mag-text" style="font-size: 22px;">6.8</div>
                </div>
            </div>
        </div>
    </div>
    <div class="realtime-box">
        <div style="font-size: 18px;font-family: 'NotoSansTC-Black';padding-top: 13px;margin-left: 15px;">即時震度</div>
        <div class="realtime-list">
            <div class="realtime-item">
                <div class="realtime-intensity intensity_9">7</div>
                <div class="realtime-location">臺南市歸仁區</div>
            </div>
        </div>
    </div>

    <div class="report-box">
        <div class="report-title-box">
            <div>地震報告</div>
            <div>編號111111</div>
        </div>
        <div class="report-body-box">
            <div style="padding-top: 11px;padding-left: 12px;display: flex;align-items: center;">
                <svg height="24" viewBox="0 -960 960 960" width="24">
                    <path fill="#AAAAAA"
                        d="m612-292 56-56-148-148v-184h-80v216l172 172ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-400Zm0 320q133 0 226.5-93.5T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160Z" />
                </svg>
                <div style="padding-left: 6px;">
                    <div style="color: #AAAAAA;font-size: 12px;font-family: 'NotoSansTC-Bold';">發震時間</div>
                    <div style="font-size: 16px;font-family: 'OpenSans-ExtraBold';">2024-01-07 03:06</div>
                </div>
            </div>
            <div style="padding-top: 11px;padding-left: 12px;display: flex;align-items: center;">
                <svg height="24" viewBox="0 -960 960 960" width="24">
                    <path fill="#AAAAAA"
                        d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z" />
                </svg>
                <div style="padding-left: 6px;">
                    <div style="color: #AAAAAA;font-size: 12px;font-family: 'NotoSansTC-Bold';">震央位置</div>
                    <div style="font-size: 16px;font-family: 'NotoSansTC-Black';">臺南市歸仁區</div>
                    <div style="color: #CCCCCC;font-size: 12px;font-family: 'OpenSans-ExtraBold';">23.14ºN　121.20ºE
                    </div>
                </div>
            </div>
            <div style="display: flex;">
                <div style="padding-top: 11px;padding-left: 12px;display: flex;align-items: center;width: 100%;">
                    <svg height="24" viewBox="0 -960 960 960" width="24">
                        <path fill="#AAAAAA"
                            d="M418-340q24 24 62 23.5t56-27.5l224-336-336 224q-27 18-28.5 55t22.5 61Zm62-460q59 0 113.5 16.5T696-734l-76 48q-33-17-68.5-25.5T480-720q-133 0-226.5 93.5T160-400q0 42 11.5 83t32.5 77h552q23-38 33.5-79t10.5-85q0-36-8.5-70T766-540l48-76q30 47 47.5 100T880-406q1 57-13 109t-41 99q-11 18-30 28t-40 10H204q-21 0-40-10t-30-28q-26-45-40-95.5T80-400q0-83 31.5-155.5t86-127Q252-737 325-768.5T480-800Zm7 313Z" />
                    </svg>
                    <div style="padding-left: 6px;line-height: 1;">
                        <div style="color: #AAAAAA;font-size: 12px;font-family: 'NotoSansTC-Bold';padding-bottom: 2px;">
                            地震規模</div>
                        <div style="display: flex;align-items: flex-end;">
                            <div
                                style="color: #CCCCCC;font-size: 10px;font-family: 'OpenSans-Bold';padding-right: 3px;">
                                ML</div>
                            <div style="font-size: 16px;font-family: 'OpenSans-ExtraBold';">6.8</div>
                        </div>
                    </div>
                </div>
                <div style="padding-top: 11px;padding-left: 12px;display: flex;align-items: center;width: 100%;">
                    <svg height="24" viewBox="0 -960 960 960" width="24">
                        <path fill="#AAAAAA"
                            d="M480-83 240-323l56-56 184 183 184-183 56 56L480-83Zm0-238L240-561l56-56 184 183 184-183 56 56-240 240Zm0-238L240-799l56-56 184 183 184-183 56 56-240 240Z" />
                    </svg>
                    <div style="padding-left: 6px;line-height: 1;">
                        <div style="color: #AAAAAA;font-size: 12px;font-family: 'NotoSansTC-Bold';padding-bottom: 2px;">
                            震源深度</div>
                        <div style="display: flex;align-items: flex-end;">
                            <div style="font-size: 16px;font-family: 'OpenSans-ExtraBold';">103.4</div>
                            <div style="color: #CCCCCC;font-size: 10px;font-family: 'OpenSans-Bold';padding-left: 3px;">
                                km</div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                style="width: 312px;text-align: right;font-size: 10px;font-family: 'NotoSansTC-Black';padding-right: 12px;padding-top: 11px;">
                交通部中央氣象署 CWA</div>
        </div>
    </div>

    <div class="report-list">
        <div style="font-size: 24px;font-family: 'NotoSansTC-Black';padding-top: 10px;margin-left: 20px;">各地震度</div>
        <div class="report-item-list">
            <div class="report-area-box">
                <div class="city-box">
                    <div class="city-intensity intensity_9">7</div>
                    <div class="city-location">臺南市</div>
                </div>
                <div class="city-list">
                    <div class="town-box">
                        <div class="town-intensity intensity_9">7</div>
                        <div class="town-location">歸仁區</div>
                    </div>
                    <div class="town-box">
                        <div class="town-intensity intensity_9">7</div>
                        <div class="town-location">歸仁區</div>
                    </div>
                    <div class="town-box">
                        <div class="town-intensity intensity_9">7</div>
                        <div class="town-location">歸仁區</div>
                    </div>
                    <div class="town-box">
                        <div class="town-intensity intensity_9">7</div>
                        <div class="town-location">歸仁區</div>
                    </div>
                    <div class="town-box">
                        <div class="town-intensity intensity_9">7</div>
                        <div class="town-location">歸仁區</div>
                    </div>
                    <div class="town-box">
                        <div class="town-intensity intensity_9">7</div>
                        <div class="town-location">歸仁區</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="time" id="time">---- / -- / -- -- : -- : --</div>

    <script src="../js/elementbuilder.js" defer></script>
    <script src="../js/constant.js" defer></script>
    <script src="../js/utils.js" defer></script>
    <script src="../js/require.js" defer></script>
    <script src="../js/log.js" defer></script>

    <script src="../js/config.js" defer></script>
    <script src="../js/lang.js" defer></script>
    <script src="../js/boostrap.js" defer></script>

    <script src="../js/plugin.js" defer></script>
    <script src="../js/key.js" defer></script>
    <script src="../js/map.js" defer></script>
    <script src="../js/replay.js" defer></script>
    <script src="../js/websocket.js" defer></script>
    <script src="../js/rts.js" defer></script>
    <script src="../js/eew.js" defer></script>
</body>

</html>