<html lang="zh-Hant">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <link href="../node_modules/@material-symbols/font-400/index.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/font.css" />
    <link rel="stylesheet" href="../css/intensity.css" />
    <link rel="stylesheet" href="../css/leaflet.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/pga.css" />
</head>

<body>
    <div class="tos">
        <div style="font-size: 64px;font-weight: 700;">TOS 服務條款</div>
    </div>

    <div id="map" class="map"></div>

    <div id="info-box" class="info-box">
        <div class="info-title-box">
            <div class="info-title-box-type">地震速報 ｜ CWA（取消）</div>
            <div class="info-title-box-value">第3報</div>
        </div>
        <div class="info-body-box">
            <div class="info-body-title-box">
                <div class="info-body-title-title-box intensity-8">6⁺</div>
                <div class="info-body-title-body-box">
                    <div class="info-body-location-text">臺南市歸仁區</div>
                    <div class="info-body-eq-box">
                        <div class="info-body-magnitude magnitude-6" data-background-text="規模">
                            <div class="info-body-magnitude-value">6.8</div>
                        </div>
                        <div class="info-body-depth depth-deep" data-background-text="深度">
                            <div class="info-body-depth-value">103.5</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-body-footer">
                <div class="info-body-footer-title">觀測最大震度</div>
                <div class="info-body-footer-value-container">
                    <span class="info-body-footer-value-time">2024-01-07 03:06</span>
                    <span class="info-body-footer-value-name">發震</span>
                </div>
            </div>
            <div class="cancel-box">
                <div class="cancel-title"><span>取</span><span>消</span></div>
                <div class="cancel-body">此地震速報已取消</div>
            </div>
        </div>
    </div>
    <div id="list-box" class="list-box">
        <div class="list-item">
            <div class="list-intensity-box intensity_8">6⁺</div>
            <div class="list-info-box">
                <div style="padding: 12px;line-height: 1;">
                    <div style="font-size: 17px;font-family: 'NotoSansTC-Bold';">臺南市歸仁區</div>
                    <div style="font-size: 10px;font-family: 'OpenSans-SemiBold';padding-top: 5px;">
                        2024-01-07 03:06
                    </div>
                </div>
                <div class="list-mag-box">
                    <div class="list-mag-text" style="font-size: 20px; margin-right: 5px;">M</div>
                    <div class="list-mag-text" style="font-size: 22px;">6.8</div>
                </div>
            </div>
        </div>
    </div>
    <div class="intensity-container">
        <div class="realtime-box">
          <div class="realtime-container">
              <div class="realtime-header">即時震度</div>
              <div class="realtime-list">
                  <div class="realtime-item">
                      <div class="realtime-intensity intensity-9">7</div>
                      <div class="realtime-location">臺南市歸仁區</div>
                  </div>
                  <div class="realtime-item">
                      <div class="realtime-intensity intensity-8">6⁺</div>
                      <div class="realtime-location">臺南市歸仁區</div>
                  </div>
                  <div class="realtime-item">
                      <div class="realtime-intensity intensity-6">5⁺</div>
                      <div class="realtime-location">臺南市歸仁區</div>
                  </div>
                  <div class="realtime-item">
                      <div class="realtime-intensity intensity-4">4</div>
                      <div class="realtime-location">臺南市歸仁區</div>
                  </div>
                  <div class="realtime-item">
                      <div class="realtime-intensity intensity-4">4</div>
                      <div class="realtime-location">臺南市歸仁區</div>
                  </div>
                  <div class="realtime-item">
                      <div class="realtime-intensity intensity-3">3</div>
                      <div class="realtime-location">臺南市歸仁區</div>
                  </div>
                  <div class="realtime-item">
                      <div class="realtime-intensity intensity-2">2</div>
                      <div class="realtime-location">臺南市歸仁區</div>
                  </div>
                  <div class="realtime-item">
                      <div class="realtime-intensity intensity-1">1</div>
                      <div class="realtime-location">臺南市歸仁區</div>
                  </div>
                  <div class="realtime-item">
                      <div class="realtime-intensity intensity-1">1</div>
                      <div class="realtime-location">臺南市歸仁區</div>
                  </div>
                  <div class="realtime-item">
                      <div class="realtime-intensity intensity-1">1</div>
                      <div class="realtime-location">臺南市歸仁區</div>
                  </div>
                  <div class="realtime-item">
                      <div class="realtime-intensity intensity-0">0</div>
                      <div class="realtime-location">臺南市歸仁區</div>
                  </div>
                  <div class="realtime-item">
                      <div class="realtime-intensity intensity-0">0</div>
                      <div class="realtime-location">臺南市歸仁區</div>
                  </div>
                  <div class="realtime-item">
                      <div class="realtime-intensity intensity-0">0</div>
                      <div class="realtime-location">臺南市歸仁區</div>
                  </div>
                  <div class="realtime-item">
                      <div class="realtime-intensity intensity-0">0</div>
                      <div class="realtime-location">臺南市歸仁區</div>
                  </div>
                  <div class="realtime-item">
                      <div class="realtime-intensity intensity-0">0</div>
                      <div class="realtime-location">臺南市歸仁區</div>
                  </div>
              </div>
          </div>
        </div>
        <div class="local-box">
            <div class="local-title">所在地預估</div>
            <div class="local-container">
                <div class="local-intensity intensity-8">6⁺</div>
                <div class="wave-timer-container">
                    <div class="wave-timer">
                        <div class="wave-timer-name">P波</div>
                        <div class="wave-timer-value">10</div>
                    </div>
                    <div class="wave-timer">
                        <div class="wave-timer-name">S波</div>
                        <div class="wave-timer-value">抵達</div>
                    </div>
                </div>
                <div class="local-number">1</div>
            </div>
        </div>
    </div>

    <div class="report-box-wrapper">
        <div class="report-box">
            <div class="report-box-header">
                <button id="report-back-btn" class="filled-button button">
                    <span class="button-leading-icon material-symbols-rounded">arrow_back</span>
                    <span class="button-label">返回列表</span>
                </button>
                <div id="report-source" class="report-source">交通部中央氣象署</div>
            </div>
            <div class="report-box-body">
                
                <!-- 報告標題 -->

                <div class="report-title">
                    <div class="report-title-container">
                        <span id="report-id" class="report-subtitle">編號 112085</span>
                        <span id="report-location" class="report-title">宜蘭縣 蘇澳鎮</span>
                    </div>
                    <div id="report-max-intensity" class="report-max-intensity intensity-3"></div>
                </div>

                <!-- 報告資訊 -->

                <div class="report-detail">
                    <div class="report-detail-field">
                        <div class="report-detail-field-icon material-symbols-rounded">schedule</div>
                            <div class="report-detail-field-divider"></div>
                            <div class="report-detail-field-content-container">
                            <div class="report-detail-field-name">發震時間</div>
                            <div class="report-detail-field-value">2023-12-31 05:57:30</div>
                        </div>
                    </div>
                    <div class="report-detail-field">
                        <div class="report-detail-field-icon material-symbols-rounded">pin_drop</div>
                            <div class="report-detail-field-divider"></div>
                            <div class="report-detail-field-content-container">
                            <div class="report-detail-field-name">震央位置</div>
                            <div class="report-detail-field-value">宜蘭縣政府南南東方 14.2 公里</div>
                        </div>
                    </div>
                    <div class="report-detail-field">
                        <div class="report-detail-field-icon material-symbols-rounded">point_scan</div>
                            <div class="report-detail-field-divider"></div>
                            <div class="report-detail-field-content-container">
                            <div class="report-detail-field-name">震央座標</div>
                            <div class="report-detail-field-value"><span class="value-unit-pair"><span class="field-value">121.83</span><span class="field-unit">°E</span></span><span class="value-unit-pair"><span class="field-value">24.62</span><span class="field-unit">°N</span></span></div>
                        </div>
                    </div>
                    <div class="report-detail-field-row">
                        <div class="report-detail-field">
                            <div class="report-detail-field-icon material-symbols-rounded">speed</div>
                            <div class="report-detail-field-divider"></div>
                            <div class="report-detail-field-content-container">
                                <div class="report-detail-field-name">規模</div>
                                <div class="report-detail-field-value"><span class="value-unit-pair"><span class="field-unit">M<sub>L</sub></span><span class="field-value">4.5</span></span></div>
                            </div>
                        </div>
                        <div class="report-detail-field">
                            <div class="report-detail-field-icon material-symbols-rounded">keyboard_double_arrow_down</div>
                            <div class="report-detail-field-divider"></div>
                            <div class="report-detail-field-content-container">
                                <div class="report-detail-field-name">深度</div>
                                <div class="report-detail-field-value"><span class="value-unit-pair"><span class="field-value">47.4</span><span class="field-unit">㎞</span></span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 各地最大震度 -->

                <div class="report-intensity-list">
                    <div class="report-intensity-list-header">
                        <div class="report-intensity-list-title">各地最大震度</div>
                        <div class="report-intensity-sort-btn-container">
                            <label for="report-intensity-sort-group" class="report-intensity-sort-btn">
                                <input type="radio" id="report-intensity-sort-group" name="report-intensity-sort" title="依縣市分組" checked>
                                <span class="report-intensity-sort-btn-icon material-symbols-rounded">category</span>
                              </label>
                              <label for="report-intensity-sort-intensity" class="report-intensity-sort-btn">
                                <input type="radio" id="report-intensity-sort-intensity" name="report-intensity-sort" title="依震度排序">
                                <span class="report-intensity-sort-btn-icon material-symbols-rounded">swap_vert</span>
                            </label>
                        </div>
                    </div>

                    <div class="report-intensity-list-scrollview">
                        <div class="report-intensity-list-scroller">
                            <div class="report-intensity-container">
                                <div class="report-intensity-group">
                                    <div class="report-intensity-item">
                                        <div class="report-intensity-item-intensity intensity-3"></div>
                                        <span class="report-intensity-item-location">宜蘭縣</span>
                                        <span class="report-intensity-collapse material-symbols-rounded">expand_less</span>
                                    </div>
                                    <div class="report-intensity-member">
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-3"></div>
                                            <span class="report-intensity-item-location">武塔</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-3"></div>
                                            <span class="report-intensity-item-location">南澳</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-3"></div>
                                            <span class="report-intensity-item-location">武塔</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-2"></div>
                                            <span class="report-intensity-item-location">南澳</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-2"></div>
                                            <span class="report-intensity-item-location">武塔</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-2"></div>
                                            <span class="report-intensity-item-location">南澳</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-1"></div>
                                            <span class="report-intensity-item-location">武塔</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-1"></div>
                                            <span class="report-intensity-item-location">南澳</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-1"></div>
                                            <span class="report-intensity-item-location">武塔</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-1"></div>
                                            <span class="report-intensity-item-location">南澳</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="report-intensity-group">
                                    <div class="report-intensity-item">
                                        <div class="report-intensity-item-intensity intensity-3"></div>
                                        <span class="report-intensity-item-location">宜蘭縣</span>
                                        <span class="report-intensity-collapse material-symbols-rounded">expand_less</span>
                                    </div>
                                    <div class="report-intensity-member">
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-3"></div>
                                            <span class="report-intensity-item-location">武塔</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-3"></div>
                                            <span class="report-intensity-item-location">南澳</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-3"></div>
                                            <span class="report-intensity-item-location">武塔</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-3"></div>
                                            <span class="report-intensity-item-location">南澳</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-3"></div>
                                            <span class="report-intensity-item-location">武塔</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-3"></div>
                                            <span class="report-intensity-item-location">南澳</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-3"></div>
                                            <span class="report-intensity-item-location">武塔</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-3"></div>
                                            <span class="report-intensity-item-location">南澳</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-3"></div>
                                            <span class="report-intensity-item-location">武塔</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-3"></div>
                                            <span class="report-intensity-item-location">南澳</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="report-intensity-group">
                                    <div class="report-intensity-item">
                                        <div class="report-intensity-item-intensity intensity-3"></div>
                                        <span class="report-intensity-item-location">宜蘭縣</span>
                                        <span class="report-intensity-collapse material-symbols-rounded">expand_less</span>
                                    </div>
                                    <div class="report-intensity-member">
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-3"></div>
                                            <span class="report-intensity-item-location">武塔</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-3"></div>
                                            <span class="report-intensity-item-location">南澳</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-3"></div>
                                            <span class="report-intensity-item-location">武塔</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-3"></div>
                                            <span class="report-intensity-item-location">南澳</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-3"></div>
                                            <span class="report-intensity-item-location">武塔</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-3"></div>
                                            <span class="report-intensity-item-location">南澳</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-3"></div>
                                            <span class="report-intensity-item-location">武塔</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-3"></div>
                                            <span class="report-intensity-item-location">南澳</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-3"></div>
                                            <span class="report-intensity-item-location">武塔</span>
                                        </div>
                                        <div class="report-intensity-item">
                                            <div class="report-intensity-item-intensity intensity-3"></div>
                                            <span class="report-intensity-item-location">南澳</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="report-list">
        <div style="font-size: 24px;font-family: 'NotoSansTC-Black';padding-top: 10px;margin-left: 20px;">各地震度</div>
        <div class="report-item-list">
            <div class="report-area-box">
                <div class="city-box">
                    <div class="city-intensity intensity-9">7</div>
                    <div class="city-location">臺南市</div>
                </div>
                <div class="city-list">
                    <div class="town-box">
                        <div class="town-intensity intensity-9">7</div>
                        <div class="town-location">歸仁區</div>
                    </div>
                    <div class="town-box">
                        <div class="town-intensity intensity-9">7</div>
                        <div class="town-location">歸仁區</div>
                    </div>
                    <div class="town-box">
                        <div class="town-intensity intensity-9">7</div>
                        <div class="town-location">歸仁區</div>
                    </div>
                    <div class="town-box">
                        <div class="town-intensity intensity-9">7</div>
                        <div class="town-location">歸仁區</div>
                    </div>
                    <div class="town-box">
                        <div class="town-intensity intensity-9">7</div>
                        <div class="town-location">歸仁區</div>
                    </div>
                    <div class="town-box">
                        <div class="town-intensity intensity-9">7</div>
                        <div class="town-location">歸仁區</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="time" id="time">---- / -- / -- -- : -- : --</div>

    <script src="../js/class/elementbuilder.js" defer></script>
    <script src="../js/class/api.js" defer></script>
    <script src="../js/constant.js" defer></script>
    <script src="../js/utils.js" defer></script>
    <script src="../js/require.js" defer></script>
    <script src="../js/log.js" defer></script>

    <script src="../js/config.js" defer></script>
    <script src="../js/lang.js" defer></script>
    <script src="../js/boostrap.js" defer></script>

    <script src="../js/plugin.js" defer></script>
    <script src="../js/key.js" defer></script>
    <script src="../js/map.js" defer></script>
    <script src="../js/replay.js" defer></script>
    <script src="../js/websocket.js" defer></script>
    <script src="../js/rts.js" defer></script>
    <script src="../js/eew.js" defer></script>
</body>

</html>