<html lang="zh-Hant">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link href="../css/font.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/theme.css" />
  <link rel="stylesheet" href="../css/setting.css" />
</head>

<body>
  <div class="navigation-container rail">
    <nav class="center">
      <button class="nav active" type="button" data-view="general">
        <span class="icon">category</span>
        <span class="label">一般</span>
      </button>
      <button class="nav" type="button" data-view="graphics">
        <span class="icon">image</span>
        <span class="label">圖形</span>
      </button>
      <button class="nav" type="button" data-view="sounds">
        <span class="icon">music_note</span>
        <span class="label">音效</span>
      </button>
      <button class="nav" type="button" data-view="plugins">
        <span class="icon">extension</span>
        <span class="label">插件</span>
      </button>
      <button class="nav" type="button" data-view="info">
        <span class="icon">info</span>
        <span class="label">關於</span>
      </button>
    </nav>
    <div class="view-container">
      <div id="general" class="view show">
        <div class="list">
          <div class="item">
            <div class="item-border"></div>
            <div class="item-content">
              <div class="item-title">所在地</div>
              <div class="item-description">設定所在地可以在地震發生時預估你所在區域的地震震度。</div>
              <div class="item-options">
                <div class="notice info">
                  <svg width="20" height="20" class="icon-bottom" fill="none" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M12 1.999c5.524 0 10.002 4.478 10.002 10.002 0 5.523-4.478 10.001-10.002 10.001-5.524 0-10.002-4.478-10.002-10.001C1.998 6.477 6.476 1.999 12 1.999Zm-.004 8.25a1 1 0 0 0-.992.885l-.007.116.003 5.502.007.117a1 1 0 0 0 1.987-.002L13 16.75l-.003-5.501-.007-.117a1 1 0 0 0-.994-.882ZM12 6.5a1.251 1.251 0 1 0 0 2.503A1.251 1.251 0 0 0 12 6.5Z"
                      fill="#68f" />
                  </svg>
                  <span>更改位置將會自動設定距離最近的即時測站。</span>
                </div>
                <div class="item-option">
                  <label for="city">縣市</label>
                  <select id="city" class="input" style="width: 80px;">
                    <option disabled selected hidden>(未設定)</option>
                  </select>
                  <label for="town">鄉鎮</label>
                  <select id="town" class="input" style="width: 80px;">
                    <option disabled selected hidden>(未設定)</option>
                  </select>
                </div>
                <div class="item-option">
                  <label for="lat">緯度</label>
                  <input type="number" id="lat" class="input text" placeholder="(未設定)" step="0.01" max="90" min="-90"
                    style="width: 80px;">
                  <label for="lon">經度</label>
                  <input type="number" id="lon" class="input text" placeholder="(未設定)" step="0.01" max="180" min="-180"
                    style="width: 80px;">
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-border"></div>
            <div class="item-content">
              <div class="item-title">場址效應</div>
              <div class="item-description">由於地質條件的不同，地震波在不同場址上的傳播和放大方式會產生差異，進而對建築物和土地產生不同的震動影響。</div>
              <div class="item-options">
                <div class="item-option">
                  <label for="site">值</label>
                  <input type="text" id="site" class="input text" style="width: 120px;">
                  <div class="notice warn">
                    <svg width="20" height="20" class="icon-bottom" fill="none" viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M10.909 2.782a2.25 2.25 0 0 1 2.975.74l.083.138 7.759 14.009a2.25 2.25 0 0 1-1.814 3.334l-.154.006H4.242A2.25 2.25 0 0 1 2.2 17.812l.072-.143L10.03 3.66a2.25 2.25 0 0 1 .879-.878ZM12 16.002a.999.999 0 1 0 0 1.997.999.999 0 0 0 0-1.997Zm-.002-8.004a1 1 0 0 0-.993.884L11 8.998 11 14l.007.117a1 1 0 0 0 1.987 0l.006-.117L13 8.998l-.007-.117a1 1 0 0 0-.994-.883Z"
                        fill="#ffd700" />
                    </svg>
                    <span>請不要隨意更改此數值。</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-border"></div>
            <div class="item-content">
              <div class="item-title">預警條件</div>
              <div class="item-description">即時測站 (任一站) 為觸發時任一站震度門檻，預估震度 (所在地)
                為地震預警時所在地震度門檻，達到下方任一條件後軟體將會發出音效及彈出視窗。
              </div>
              <div class="item-options">
                <div class="item-option">
                  <label>即時測站 (任一站)</label>
                  <select id="rts-level" class="input"></select>
                </div>
                <div class="item-option">
                  <label>預估震度 (所在地)</label>
                  <select id="eew-level" class="input"></select>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-border"></div>
            <div class="item-content">
              <div class="item-title">即時測站</div>
              <div class="item-description">顯示於主畫面左上方的即時測站。</div>
              <div class="item-options">
                <div class="item-option">
                  <label for="rts_station">代號</label>
                  <select id="rts_station" class="input" style="width: 230px;"></select>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-border"></div>
            <div class="item-content">
              <div class="item-title">地震預警來源</div>
              <div class="item-description">程式接收地震預警的來源。</div>
              <div class="item-options">
                <div class="item-option">
                  <input id="cwb" type="checkbox" checked disabled>
                  <label for="cwb">中央氣象局 (CWB)</label>
                </div>
                <div class="item-option">
                  <input id="jma" type="checkbox" onclick="_onclick('jma')">
                  <label for="jma">気象庁 (JMA)</label>
                </div>
                <div class="item-option">
                  <input id="nied" type="checkbox" onclick="_onclick('nied')">
                  <label for="nied">防災科学技術研究所 (NIED)</label>
                </div>
                <div class="item-option">
                  <input id="kma" type="checkbox" onclick="_onclick('kma')">
                  <label for="kma">기상청 (KMA)</label>
                </div>
                <div class="item-option">
                  <input id="scdzj" type="checkbox" onclick="_onclick('scdzj')">
                  <label for="scdzj">四川省地震局 (SCDZJ)</label>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-border"></div>
            <div class="item-content">
              <div class="item-title">顯示視窗</div>
              <div class="item-description">程式自動跳窗的時機。</div>
              <div class="item-options">
                <div class="item-option">
                  <input id="show_eew" type="checkbox" onclick="_onclick('show_eew')">
                  <label for="show_eew">地震預警</label>
                </div>
                <div class="item-option">
                  <input id="show_report" type="checkbox" onclick="_onclick('show_report')">
                  <label for="show_report">地震報告</label>
                </div>
                <div class="item-option">
                  <input id="show_trem" type="checkbox" onclick="_onclick('show_trem')">
                  <label for="show_trem">地震檢知</label>
                </div>
                <div class="item-option">
                  <input id="show_palert" type="checkbox" onclick="_onclick('show_palert')">
                  <label for="show_palert">近即時震度</label>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-border"></div>
            <div class="item-content">
              <div class="item-title">金鑰</div>
              <div class="item-description">使用個人金鑰可以讓你獲取最新即時資料、更多測站、進階功能等。</div>
              <div class="item-options">
                <div class="item-option">
                  <input type="password" id="key" class="input text" style="width: 210px;">
                  <button id="apply-key" type="button"
                    onclick="openURL('exptech.com.tw/api/v1/file/exptech/user.html')">
                    <span>點擊申請</span>
                    <span class="icon">open_in_new</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-border"></div>
            <div class="item-content">
              <div class="item-title">其他功能</div>
              <div class="item-description">不常用的小功能都在這裡。</div>
              <div class="item-options">
                <div class="item-option">
                  <input id="ota_restart" type="checkbox" onclick="_onclick('ota_restart')">
                  <label>自動重啟套用更新 (OTA)</label>
                </div>
                <div class="item-option">
                  <input id="speecd_use" type="checkbox" onclick="_onclick('speecd_use')">
                  <label>語音播報 (繁體中文)</label>
                </div>
                <div class="item-option">
                  <input id="start_up" type="checkbox" onclick="_onclick('start_up')">
                  <label>開機自動啟動 (Windows)</label>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-border"></div>
            <div class="item-content">
              <div class="item-title">重播</div>
              <div class="item-description">重播 過去時間(3小時) 的地震紀錄。</div>
              <div class="item-options">
                <input id="timeline" type="range" min="0" max="10800" step="1" value="10800">
                <div style="display: flex;">
                  <button id="apply-key" type="button" onclick="ipc_send('replay_start')">
                    <span>重播</span>
                  </button>
                  <button id="apply-key" type="button" onclick="ipc_send('replay_stop')">
                    <span>取消</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="graphics" class="view">
        <div class="list">
          <div class="item">
            <div class="item-border"></div>
            <div class="item-content">
              <div class="item-title">地圖顯示效果</div>
              <div class="item-description">設定在地圖上的顯示效果。
              </div>
              <div class="item-options">
                <div class="item-option">
                  <select id="map-style" class="input">
                    <option id="map.style.1" value="1"></option>
                    <option id="map.style.2" value="2"></option>
                    <option id="map.style.3" value="3"></option>
                    <option id="map.style.4" value="4"></option>
                    <option id="map.style.5" value="5"></option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-border"></div>
            <div class="item-content">
              <div class="item-title">地圖自動縮放</div>
              <div class="item-description">默認地圖自動縮放為啟用狀態。</div>
              <div class="item-options">
                <div class="item-option">
                  <input id="disable_autoZoom" type="checkbox" onclick="_onclick('disable_autoZoom')">
                  <label>禁用地圖自動縮放</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="sounds" class="view">
        <div class="list">
          <div class="item">
            <div class="item-border"></div>
            <div class="item-content">
              <div class="item-title">預警播報</div>
              <div class="item-description">地震發生時播報所在地預估震度以及地震波抵達剩餘秒數。</div>
              <div class="item-options">
                <div class="item-option">
                  <input id="audio.1/ding" type="checkbox" onclick="_onclick('audio.1/ding')">
                  <label>咚咚咚 音效 (僅在有倒數情況下生效)</label>
                </div>
                <div class="item-option">
                  <label>播報方式</label>
                  <select id="eew-audio-type" class="input">
                    <option id="eew.audio.type.1" value="1"></option>
                    <option id="eew.audio.type.2" value="2"></option>
                    <option id="eew.audio.type.3" value="3"></option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-border"></div>
            <div class="item-content">
              <div class="item-title">音效列表</div>
              <div class="item-description">開啟或關閉特定的音效。</div>
              <div class="item-options">
                <div class="item-option">
                  <input id="audio.EEW" type="checkbox" onclick="_onclick('audio.EEW')">
                  <label>EEW (收到 地震預警 時播放)</label>
                </div>
                <div class="item-option">
                  <input id="audio.EEW2" type="checkbox" onclick="_onclick('audio.EEW2')">
                  <label>EEW2 (最大預估 震度5弱 以上播放)</label>
                </div>
                <div class="item-option">
                  <input id="audio.palert" type="checkbox" onclick="_onclick('audio.palert')">
                  <label>palert (收到 近即時震度 時播放)</label>
                </div>
                <div class="item-option">
                  <input id="audio.PGA1" type="checkbox" onclick="_onclick('audio.PGA1')">
                  <label>PGA1 (PGA大於 8gal 時播放)</label>
                </div>
                <div class="item-option">
                  <input id="audio.PGA2" type="checkbox" onclick="_onclick('audio.PGA2')">
                  <label>PGA2 (PGA大於 200gal 時播放)</label>
                </div>
                <div class="item-option">
                  <input id="audio.Report" type="checkbox" onclick="_onclick('audio.Report')">
                  <label>Report (收到 地震報告 時播放)</label>
                </div>
                <div class="item-option">
                  <input id="audio.Shindo0" type="checkbox" onclick="_onclick('audio.Shindo0')">
                  <label>Shindo0 (地震檢知 震度0級 以上播放)</label>
                </div>
                <div class="item-option">
                  <input id="audio.Shindo1" type="checkbox" onclick="_onclick('audio.Shindo1')">
                  <label>Shindo1 (地震檢知 震度2級 以上播放)</label>
                </div>
                <div class="item-option">
                  <input id="audio.Shindo2" type="checkbox" onclick="_onclick('audio.Shindo2')">
                  <label>Shindo2 (地震檢知 震度4級 以上播放)</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="plugins" class="view">
        <div id="plugin" class="list">
          <div class="item">
            <div class="item-border"></div>
            <div class="item-content">
              <div class="item-title">插件列表</div>
              <div class="item-description">選擇啟用的插件，插件將在程式啟動時載入。</div>
              <div class="item-options">
                <div class="notice danger">
                  <svg width="20" height="20" class="icon-bottom" fill="none" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M10.909 2.782a2.25 2.25 0 0 1 2.975.74l.083.138 7.759 14.009a2.25 2.25 0 0 1-1.814 3.334l-.154.006H4.242A2.25 2.25 0 0 1 2.2 17.812l.072-.143L10.03 3.66a2.25 2.25 0 0 1 .879-.878ZM12 16.002a.999.999 0 1 0 0 1.997.999.999 0 0 0 0-1.997Zm-.002-8.004a1 1 0 0 0-.993.884L11 8.998 11 14l.007.117a1 1 0 0 0 1.987 0l.006-.117L13 8.998l-.007-.117a1 1 0 0 0-.994-.883Z"
                      fill="#ff3b3e" />
                  </svg>
                  <span>使用來源不明或無法信任的插件可能會危及你的個人資訊安全，請謹慎使用。</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="info" class="view">
        <div class="list">
          <div class="item">
            <div class="item-border"></div>
            <div class="item-content">
              <div class="item-title">關於 TREM Lite</div>
              <div class="item-description">TREM Lite
                是一款開源地震速報軟體，提供給您即時的地震資訊，利用自製的測站，顯示各地的即時震度，在地震發生的第一時間取得各管道發布的強震即時警報訊息。</div>
              <div class="item-options">
                <div class="item-option">
                  <label for="client-version">版本</label>
                  <input type="text" id="client-version" class="input text" readonly>
                </div>
                <div class="item-option">
                  <label for="client-version">UUID</label>
                  <input type="text" id="client-uuid" class="input text" readonly>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-border"></div>
            <div class="item-content">
              <div class="item-title">資料來源</div>
              <div class="item-options">
                <div class="item-option list">
                  <div>地震預警</div>
                  <div>
                    <ul>
                      <li><span>交通部中央氣象局 (CWB)</span></li>
                      <li><span>日本気象庁 (JMA)</span></li>
                      <li><span>防災科研 (NIED)</span></li>
                      <li><span>中国四川省地震局 (SCDZJ)</span></li>
                      <li><span>기상청 (KMA)</span></li>
                    </ul>
                  </div>
                </div>
                <div class="item-option list">
                  <div>震度</div>
                  <div>
                    <ul>
                      <li><span>中央研究院 (SINICA)</span></li>
                      <li><span>臺灣即時地震監測 (TREM)</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-border"></div>
            <div class="item-content">
              <div class="item-title">貢獻者</div>
              <div class="item-description">感謝以下的貢獻者們，因為有了他們的貢獻， TREM Lite 才得以實現。</div>
              <div class="item-options">
                <div class="item-option list">
                  <div>
                    <ul>
                      <li><span>whes1015 (程式開發)</span></li>
                      <li><span>yayacat (程式開發)</span></li>
                      <li><span>Kamiya (介面改良)</span></li>
                      <li><span>JQuake (音效)</span></li>
                      <li><span>NYJ36 (翻譯)</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="../core/api.js"></script>
  <script src="../core/require.js"></script>
  <script src="../core/log.js"></script>
  <script src="../core/database.js"></script>
  <script src="../core/lang.js"></script>
  <script src="../core/setting/init.js"></script>
  <script src="../core/setting/setting.js"></script>
  <script src="../core/ui.js"></script>
</body>

</html>