<html lang="zh-Hant">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="../css/font.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/setting.css" />
</head>

<body style="background-color: black;user-select: none;">
    <div class="main">
        <div id="general" class="list">
            <div class="item">
                <div class="item-border"></div>
                <div class="item-content">
                    <div class="item-title">所在地</div>
                    <div class="item-description">設定所在地可以在地震發生時預估你所在區域的地震震度。</div>
                    <div class="item-options">
                        <div class="notice" style="margin-left: 0;"><svg width="20" height="20" class="icon-bottom"
                                fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M10.909 2.782a2.25 2.25 0 0 1 2.975.74l.083.138 7.759 14.009a2.25 2.25 0 0 1-1.814 3.334l-.154.006H4.242A2.25 2.25 0 0 1 2.2 17.812l.072-.143L10.03 3.66a2.25 2.25 0 0 1 .879-.878ZM12 16.002a.999.999 0 1 0 0 1.997.999.999 0 0 0 0-1.997Zm-.002-8.004a1 1 0 0 0-.993.884L11 8.998 11 14l.007.117a1 1 0 0 0 1.987 0l.006-.117L13 8.998l-.007-.117a1 1 0 0 0-.994-.883Z"
                                    fill="#ffd700" />
                            </svg> 每次更改位置都會自動搜索並設定距離最近的即時測站</div>
                        <div class="item-option">
                            <label for="city">縣市</label>
                            <select id="city" class="input">
                                <option disabled selected hidden>(未設定)</option>
                            </select>
                            <label for="town">鄉鎮</label>
                            <select id="town" class="input">
                                <option disabled selected hidden>(未設定)</option>
                            </select>
                        </div>
                        <div class="item-option">
                            <label for="lat">緯度</label>
                            <input type="number" id="lat" class="input text" placeholder="(未設定)" step="0.01" max="90"
                                min="-90">
                            <label for="lon">經度</label>
                            <input type="number" id="lon" class="input text" placeholder="(未設定)" step="0.01" max="180"
                                min="-180">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-border"></div>
                <div class="item-content">
                    <div class="item-title">場址效應</div>
                    <div class="item-description">由於地質條件的不同，地震波在不同場址上的傳播和放大方式會產生差異，進而對建築物和土地產生不同的震動影響。</div>
                    <div class="item-options">
                        <div class="item-option">
                            <label for="site">值</label>
                            <input type="text" id="site" class="input text">
                            <div class="notice"><svg width="20" height="20" class="icon-bottom" fill="none"
                                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10.909 2.782a2.25 2.25 0 0 1 2.975.74l.083.138 7.759 14.009a2.25 2.25 0 0 1-1.814 3.334l-.154.006H4.242A2.25 2.25 0 0 1 2.2 17.812l.072-.143L10.03 3.66a2.25 2.25 0 0 1 .879-.878ZM12 16.002a.999.999 0 1 0 0 1.997.999.999 0 0 0 0-1.997Zm-.002-8.004a1 1 0 0 0-.993.884L11 8.998 11 14l.007.117a1 1 0 0 0 1.987 0l.006-.117L13 8.998l-.007-.117a1 1 0 0 0-.994-.883Z"
                                        fill="#ffd700" />
                                </svg> 請不要隨意更改此數值</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-border"></div>
                <div class="item-content">
                    <div class="item-title">預警條件</div>
                    <div class="item-description">即時測站 (任一站) 為觸發時任一站震度門檻，預估震度 (所在地)
                        為地震預警時所在地震度門檻，達到下方任一條件後軟體將會發出音效及彈出視窗。
                    </div>
                    <div class="item-options">
                        <div class="item-option">
                            <label>即時測站 (任一站)</label>
                            <select id="rts-level" class="input"></select>
                        </div>
                        <div class="item-option">
                            <label>預估震度 (所在地)</label>
                            <select id="eew-level" class="input"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-border"></div>
                <div class="item-content">
                    <div class="item-title">即時測站</div>
                    <div class="item-description">顯示於主畫面左上方的即時測站。</div>
                    <div class="item-options">
                        <div class="item-option">
                            <label for="rts_station">代號</label>
                            <select id="rts_station" class="input" style="width: 230px;"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-border"></div>
                <div class="item-content">
                    <div class="item-title">地震預警來源</div>
                    <div class="item-description">程式接收地震預警的來源。</div>
                    <div class="item-options">
                        <div class="item-option">
                            <input id="cwb" type="checkbox" checked disabled>
                            <label for="cwb">中央氣象局 (CWB)</label>
                        </div>
                        <div class="item-option">
                            <input id="jma" type="checkbox" onclick="_onclick('jma')">
                            <label for="jma">気象庁 (JMA)</label>
                        </div>
                        <div class="item-option">
                            <input id="nied" type="checkbox" onclick="_onclick('nied')">
                            <label for="nied">防災科学技術研究所 (NIED)</label>
                        </div>
                        <div class="item-option">
                            <input id="kma" type="checkbox" onclick="_onclick('kma')">
                            <label for="kma">기상청 (KMA)</label>
                        </div>
                        <div class="item-option">
                            <input id="scdzj" type="checkbox" onclick="_onclick('scdzj')">
                            <label for="scdzj">四川省地震局 (SCDZJ)</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-border"></div>
                <div class="item-content">
                    <div class="item-title">顯示視窗</div>
                    <div class="item-description">程式自動跳窗的時機。</div>
                    <div class="item-options">
                        <div class="item-option">
                            <input id="show_eew" type="checkbox" onclick="_onclick('show_eew')">
                            <label for="show_eew">地震預警</label>
                        </div>
                        <div class="item-option">
                            <input id="show_report" type="checkbox" onclick="_onclick('show_report')">
                            <label for="show_report">地震報告</label>
                        </div>
                        <div class="item-option">
                            <input id="show_trem" type="checkbox" onclick="_onclick('show_trem')">
                            <label for="show_trem">地震檢知</label>
                        </div>
                        <div class="item-option">
                            <input id="show_palert" type="checkbox" onclick="_onclick('show_palert')">
                            <label for="show_palert">近即時震度</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-border"></div>
                <div class="item-content">
                    <div class="item-title">金鑰</div>
                    <div class="item-description">使用個人金鑰可以讓你獲取最新即時資料、更多測站、進階功能等。</div>
                    <input type="password" id="key" class="input text" style="width: 210px;">
                    <button id="apply-key" type="button"
                        onclick="openURL('https://exptech.com.tw/api/v1/file/exptech/user.html')">
                        <span>點擊申請</span>
                        <svg class="icon" width="16" height="16" fill="none" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.25 4.75a1.5 1.5 0 0 0-1.5 1.5v11.5a1.5 1.5 0 0 0 1.5 1.5h11.5a1.5 1.5 0 0 0 1.5-1.5v-4a1 1 0 1 1 2 0v4a3.5 3.5 0 0 1-3.5 3.5H6.25a3.5 3.5 0 0 1-3.5-3.5V6.25a3.5 3.5 0 0 1 3.5-3.5h4a1 1 0 1 1 0 2h-4Zm6.5-1a1 1 0 0 1 1-1h6.5a1 1 0 0 1 1 1v6.5a1 1 0 1 1-2 0V6.164l-4.793 4.793a1 1 0 1 1-1.414-1.414l4.793-4.793H13.75a1 1 0 0 1-1-1Z"
                                fill="#ffffff" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="item">
                <div class="item-border"></div>
                <div class="item-content">
                    <div class="item-title">其他功能</div>
                    <div class="item-description">不常用的小功能都在這裡。</div>
                    <div class="item-options">
                        <div class="item-option">
                            <input id="ota_restart" type="checkbox" onclick="_onclick('ota_restart')">
                            <label>自動重啟套用更新 (OTA)</label>
                        </div>
                        <div class="item-option">
                            <input id="speecd_use" type="checkbox" onclick="_onclick('speecd_use')">
                            <label>語音播報 (繁體中文)</label>
                        </div>
                        <div class="item-option">
                            <input id="start_up" type="checkbox" onclick="_onclick('start_up')">
                            <label>開機自動啟動 (Windows)</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="graphics" class="list" style="display: none;">
            <div class="item">
                <div class="item-border"></div>
                <div class="item-content">
                    <div class="item-title">地圖顯示效果</div>
                    <div class="item-description">設定在地圖上的顯示效果。
                    </div>
                    <div class="item-options">
                        <div class="item-option">
                            <select id="map-style" class="input">
                                <option id="map.style.1" value="1"></option>
                                <option id="map.style.2" value="2"></option>
                                <option id="map.style.3" value="3"></option>
                                <option id="map.style.4" value="4"></option>
                                <option id="map.style.5" value="5"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-border"></div>
                <div class="item-content">
                    <div class="item-title">地圖自動縮放</div>
                    <div class="item-description">默認地圖自動縮放為啟用狀態。</div>
                    <div class="item-options">
                        <div class="item-option">
                            <input id="disable_autoZoom" type="checkbox" onclick="_onclick('disable_autoZoom')">
                            <label>禁用地圖自動縮放</label>
                            <div class="notice"><svg width="20" height="20" class="icon-bottom" fill="none"
                                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10.909 2.782a2.25 2.25 0 0 1 2.975.74l.083.138 7.759 14.009a2.25 2.25 0 0 1-1.814 3.334l-.154.006H4.242A2.25 2.25 0 0 1 2.2 17.812l.072-.143L10.03 3.66a2.25 2.25 0 0 1 .879-.878ZM12 16.002a.999.999 0 1 0 0 1.997.999.999 0 0 0 0-1.997Zm-.002-8.004a1 1 0 0 0-.993.884L11 8.998 11 14l.007.117a1 1 0 0 0 1.987 0l.006-.117L13 8.998l-.007-.117a1 1 0 0 0-.994-.883Z"
                                        fill="#ffd700" />
                                </svg> 不推薦使用此功能</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sound-effects" class="list" style="display: none;">
            <div class="item">
                <div class="item-border"></div>
                <div class="item-content">
                    <div class="item-title">預警播報</div>
                    <div class="item-description">地震時播報所在地震度及倒數。</div>
                    <div class="item-options">
                        <div class="item-option">
                            <input id="audio.1/ding" type="checkbox" onclick="_onclick('audio.1/ding')">
                            <label>咚咚咚 音效 (僅在有倒數情況下生效)</label>
                        </div>
                        <div class="item-option">
                            <label>播報方式</label>
                            <select id="eew-audio-type" class="input">
                                <option id="eew.audio.type.1" value="1"></option>
                                <option id="eew.audio.type.2" value="2"></option>
                                <option id="eew.audio.type.3" value="3"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-border"></div>
                <div class="item-content">
                    <div class="item-title">音效列表</div>
                    <div class="item-description">啟用的音效。(改變勾選狀態可以聽到該音效)</div>
                    <div class="item-options">
                        <div class="item-option">
                            <input id="audio.EEW" type="checkbox" onclick="_onclick('audio.EEW')">
                            <label>EEW (收到 地震預警 時播放)</label>
                        </div>
                        <div class="item-option">
                            <input id="audio.EEW2" type="checkbox" onclick="_onclick('audio.EEW2')">
                            <label>EEW2 (最大預估 震度5弱 以上播放)</label>
                        </div>
                        <div class="item-option">
                            <input id="audio.palert" type="checkbox" onclick="_onclick('audio.palert')">
                            <label>palert (收到 近即時震度 時播放)</label>
                        </div>
                        <div class="item-option">
                            <input id="audio.PGA1" type="checkbox" onclick="_onclick('audio.PGA1')">
                            <label>PGA1 (PGA大於 8gal 時播放)</label>
                        </div>
                        <div class="item-option">
                            <input id="audio.PGA2" type="checkbox" onclick="_onclick('audio.PGA2')">
                            <label>PGA2 (PGA大於 200gal 時播放)</label>
                        </div>
                        <div class="item-option">
                            <input id="audio.Report" type="checkbox" onclick="_onclick('audio.Report')">
                            <label>Report (收到 地震報告 時播放)</label>
                        </div>
                        <div class="item-option">
                            <input id="audio.Shindo0" type="checkbox" onclick="_onclick('audio.Shindo0')">
                            <label>Shindo0 (地震檢知 震度0級 以上播放)</label>
                        </div>
                        <div class="item-option">
                            <input id="audio.Shindo1" type="checkbox" onclick="_onclick('audio.Shindo1')">
                            <label>Shindo1 (地震檢知 震度2級 以上播放)</label>
                        </div>
                        <div class="item-option">
                            <input id="audio.Shindo2" type="checkbox" onclick="_onclick('audio.Shindo2')">
                            <label>Shindo2 (地震檢知 震度4級 以上播放)</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="plugin" class="list" style="display: none;"></div>
        <div id="info" class="list" style="display: none;">
            <div class="item">
                <div class="item-border"></div>
                <div class="item-content">
                    <div class="item-title">地震預警 資料來源</div>
                    <div class="item-description">交通部中央氣象局 (CWB)、日本気象庁 (JMA)、防災科研 (NIED)、中国四川省地震局 (SCDZJ)、기상청 (KMA)</div>
                    <div class="item-description"></div>
                </div>
            </div>
            <div class="item">
                <div class="item-border"></div>
                <div class="item-content">
                    <div class="item-title">震度 資料來源</div>
                    <div class="item-description">中央研究院 (SINICA)、臺灣即時地震監測 (TREM)</div>
                    <div class="item-description"></div>
                </div>
            </div>
            <div class="item">
                <div class="item-border"></div>
                <div class="item-content">
                    <div class="item-title">貢獻者</div>
                    <div class="item-description">whes1015 (程式開發)、Kamiya (程式開發)、yayacat (程式開發)、JQuake (音效)、NYJ36 (翻譯)</div>
                    <div class="item-description"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="setting-list scrollbar">
        <div class="setting">
            <div id="setting.general" class="setting-item"></div>
            <i class="fa fa-circle-info setting-icon fa-2x"></i>
        </div>
        <div class="setting">
            <div id="setting.graphics" class="setting-item" style="color: grey;"></div>
            <i class="fa fa-image setting-icon fa-2x"></i>
        </div>
        <div class="setting">
            <div id="setting.sound-effects" class="setting-item" style="color: grey;"></div>
            <i class="fa fa-volume-high setting-icon fa-2x"></i>
        </div>
        <div class="setting">
            <div id="setting.plugin" class="setting-item" style="color: grey;"></div>
            <i class="fa fa-plug setting-icon fa-2x"></i>
        </div>
        <div class="setting">
            <div id="setting.info" class="setting-item" style="color: grey;"></div>
            <i class="fa fa-circle-info setting-icon fa-2x"></i>
        </div>
        <div id="client-version" style="color: white;text-align: center;font-size: 10px;"></div>
        <div id="client-uuid" style="color: white;text-align: center;font-size: 10px; cursor: help;">UUID</div>
        <div style="color: white;text-align: center;font-size: 10px;">Powered by ExpTech</div>
    </div>
    <script src="../core/api.js"></script>
    <script src="../core/require.js"></script>
    <script src="../core/log.js"></script>
    <script src="../core/database.js"></script>
    <script src="../core/lang.js"></script>
    <script src="../core/setting/init.js"></script>
    <script src="../core/setting/setting.js"></script>
    <script src="../core/ui.js"></script>
</body>

</html>