body {
    user-select: none;
    margin: 0;
}

.map {
    height: 100%;
    width: 100%;
    background-color: #1F2026;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 277px;
    height: 146px;
    top: 0;
    right: 0;
    border-radius: 5px;
    position: absolute;
    background-color: #505050;
    color: white;
    margin: 5px;
    z-index: 1000;
}

.info-title-box {
    display: flex;
    margin-top: 5px;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 14px;
    font-family: "NotoSansTC-Bold";
}

.info-body-box {
    border-radius: 17px;
    background-color: #464646;
    height: 120px;
    width: 269px;
    margin: 4px;
}

.info-body-location-text {
    width: 171;
    padding-top: 8px;
    padding-left: 13px;
    font-size: 20px;
    font-family: "NotoSansTC-Black";
}

.info-body-eq-box {
    width: 171px;
    height: 35px;
    display: flex;
}

.info-background-box {
    height: 35px;
    width: 171px;
    align-items: flex-end;
    display: flex;
    position: absolute;
    z-index: 1000;
    color: #585858;
    font-size: 26px;
    font-family: 'NotoSansTC-Bold';
}

.info-background-text {
    width: 100%;
    line-height: 0.9;
    padding-bottom: 8px;
}

.info-body-mag-box {
    display: flex;
    width: 85px;
    height: 30px;
    padding-left: 12px;
    align-items: flex-end;
    z-index: 1001;
}

.info-body-depth-box {
    display: flex;
    width: 85px;
    height: 30px;
    padding-right: 12px;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 1001;
}

.info-body-mag-bar {
    width: 4px;
    height: 27px;
    border-radius: 30px;
    background-color: #C800C0;
    margin-right: 3px;
}

.info-body-depth-bar {
    width: 4px;
    height: 27px;
    border-radius: 30px;
    background-color: #FF1F00;
    margin-left: 3px;
}

.info-body-title-box {
    height: 86px;
    display: flex;
}

.info-body-title-title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    font-size: 55px;
    font-family: "OpenSans-ExtraBold";
    border-radius: 17px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 12px;
}

.info-body-title-body-box {
    background-color: #313131;
    border-radius: 17px;
    width: 171;
    height: 74;
    margin-top: 12px;
}

.info-body-body-box {
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.info-body-body-title-box {
    font-size: 11px;
    font-family: "NotoSansTC-Bold";
    width: 84px;
    padding-left: 9px;
    text-align: center;
}

.info-body-body-body-box {
    display: flex;
    justify-content: right;
    font-size: 13px;
    font-family: "OpenSans-Bold";
    width: 185px;
    text-align: right;
    padding-right: 14px;
    align-items: center;
}

.info-body-box-title-text {
    font-family: 'OpenSans-SemiBold';
    line-height: 1;
}

.info-body-box-body-text {
    font-family: 'OpenSans-Bold';
    line-height: 0.9;
}

.cancel-box {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 277px;
    height: 116px;
    top: 34;
    right: 5;
    border-radius: 5px;
    position: absolute;
    z-index: 1001;
    backdrop-filter: blur(2px);
    background-color: rgba(70, 70, 70, 0.4);
}

.cancel-title-box {
    display: flex;
}

.cancel-title-text {
    font-family: "NotoSansTC-Black";
    font-size: 36px;
    width: 100%;
}

.cancel-body-text {
    font-family: "NotoSansTC-Medium";
    font-size: 13px;
}

.list-box {
    width: 277px;
    height: calc(100% - 166px);
    bottom: 0;
    right: 0;
    border-radius: 5px;
    position: absolute;
    margin: 4px;
    z-index: 1000;
    overflow-y: hidden;
}

.list-box:hover {
    overflow-y: auto;
}

.list-box:hover > .list-item {
    margin-right: 0;
}

.list-box::-webkit-scrollbar {
    width: 3px;
}

.list-box::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

.list-item {
    border-radius: 10px;
    background-color: #464646;
    height: 41px;
    width:  272px;
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    margin-right: 3px;
}

.list-intensity-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 41px;
    height: 41px;
    font-size: 27px;
    font-family: "OpenSans-Bold";
}

.list-mag-text {
    font-family: "OpenSans-Bold";
}

.time {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 3px;
    padding: 3px;
    border-radius: 5px;
    color: red;
    background-color: #2B2B30;
    font-size: 20px;
    z-index: 1000;
}

.leaflet-tooltip {
    padding: 0;
    border: 2px solid #888;
    border-radius: 8px;
    background-color: #333439;
}

.leaflet-tooltip-left::before {
    border-left-color: inherit;
}

.progress-tooltip {
    width: 6px;
    height: 50px;
    display: grid;
    align-items: flex-end;
    border: 2px solid white;
    border-radius: 5px;
}

.progress-tooltip::before {
    display: none;
}

.pga_dot {
    max-height: 7px;
    max-width: 7px;
    border-radius: 50%;
    background-color: #00cd;
}

.report_station_box {
    padding: 8px;
    border-radius: inherit;
    color: white;
    background-color: black;
    font-family: var(--system-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.tooltip-location {
    font-weight: bold;
    font-size: 18px;
}

.tooltip-uuid {
    margin-left: 4px;
    opacity: .4;
    font-size: 14px;
}

.tooltip-fields {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 4px;
    margin-top: 4px;
}

.tooltip-field-name {
    margin-right: 4px;
    opacity: .6;
    font-size: 12px;
}

.tooltip-field-value {
    font-size: 17px;
    font-variant-numeric: tabular-nums;
}