<html lang="zh-Hant">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.3/leaflet.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
</head>

<body class="full" style="user-select: none;" onkeydown="return false">
    <div class="info_box" id="info_box"></div>
    <div class="icon_box">
        <div class="tsunami_box" id="tsunami_box">
            <div class="tsunami_text_box">
                <div class="icon_text_box">預估抵達時間</div>
                <div class="tsunami_text" id="tsunami_0"></div>
                <div class="tsunami_text" id="tsunami_1"></div>
                <div class="tsunami_text" id="tsunami_2"></div>
                <div class="tsunami_text" id="tsunami_3"></div>
                <div class="tsunami_text" id="tsunami_4"></div>
                <div class="tsunami_text" id="tsunami_5"></div>
            </div>
            <div class="tsunami_icon_box">
                <div class="icon_text_box">預估波高(m)</div>
                <div class="icon_text_box"><span class="square tsunami_4 icon_padding">&nbsp;</span>&gt 6</div>
                <div class="icon_text_box"><span class="square tsunami_3 icon_padding">&nbsp;</span>3~6</div>
                <div class="icon_text_box"><span class="square tsunami_2 icon_padding">&nbsp;</span>1~3</div>
                <div class="icon_text_box"><span class="square tsunami_1 icon_padding">&nbsp;</span>&lt 1</div>
            </div>
        </div>
        <div class="icon_intensity_box" id="icon_intensity_box" style="display: none;">
            <div class="icon_text_box">震度分級</div>
            <div id="i_level_9" style="display: none;" class="icon_text_box"><span class="dot intensity_9 icon_padding">7</span>7級</div>
            <div id="i_level_8" style="display: none;" class="icon_text_box"><span class="dot intensity_8 icon_padding">6⁺</span>6強</div>
            <div id="i_level_7" style="display: none;" class="icon_text_box"><span class="dot intensity_7 icon_padding">6⁻</span>6弱</div>
            <div id="i_level_6" style="display: none;" class="icon_text_box"><span class="dot intensity_6 icon_padding">5⁺</span>5強</div>
            <div id="i_level_5" style="display: none;" class="icon_text_box"><span class="dot intensity_5 icon_padding">5⁻</span>5弱</div>
            <div id="i_level_4" style="display: none;" class="icon_text_box"><span class="dot intensity_4 icon_padding">4</span>4級</div>
            <div id="i_level_3" style="display: none;" class="icon_text_box"><span class="dot intensity_3 icon_padding">3</span>3級</div>
            <div id="i_level_2" style="display: none;" class="icon_text_box"><span class="dot intensity_2 icon_padding">2</span>2級</div>
            <div id="i_level_1" style="display: none;" class="icon_text_box"><span class="dot intensity_1 icon_padding">1</span>1級</div>
        </div>
        <div class="icon_map_box" id="icon_map_box" style="display: none;">
            <div class="icon_text_box">預估震度</div>
            <div id="m_level_9" style="display: none;" class="icon_text_box"><span class="square intensity_9 icon_padding">&nbsp;</span>7級</div>
            <div id="m_level_8" style="display: none;" class="icon_text_box"><span class="square intensity_8 icon_padding">&nbsp;</span>6強</div>
            <div id="m_level_7" style="display: none;" class="icon_text_box"><span class="square intensity_7 icon_padding">&nbsp;</span>6弱</div>
            <div id="m_level_6" style="display: none;" class="icon_text_box"><span class="square intensity_6 icon_padding">&nbsp;</span>5強</div>
            <div id="m_level_5" style="display: none;" class="icon_text_box"><span class="square intensity_5 icon_padding">&nbsp;</span>5弱</div>
            <div id="m_level_4" style="display: none;" class="icon_text_box"><span class="square intensity_4 icon_padding">&nbsp;</span>4級</div>
            <div id="m_level_3" style="display: none;" class="icon_text_box"><span class="square intensity_3 icon_padding">&nbsp;</span>3級</div>
            <div id="m_level_2" style="display: none;" class="icon_text_box"><span class="square intensity_2 icon_padding">&nbsp;</span>2級</div>
            <div id="m_level_1" style="display: none;" class="icon_text_box"><span class="square intensity_1 icon_padding">&nbsp;</span>1級</div>
        </div>
    </div>
    <div id="map" class="map full"></div>
    <div class="eew_box surface" id="eew_box">
        <div class="eew_title text_focus">
            <div id="eew_title_text" style="width: 50%;"></div>
            <div id="eew_title_text_number" style="text-align: right;width: 50%;"></div>
        </div>
        <div class="eew_body" id="eew_body">
            <div class="eew_hide" style="width: 28%;background-color: #333439;border-top-right-radius: 5px;">
                <div id="eew_max_intensity" style="font-size: 12px;height: 15%;padding: 3px;text-align: center;"></div>
                <div id="eew_intensity" style="font-size: 50px;height: 79%;border-radius: 5px;"></div>
            </div>
            <div class="eew_hide" style="width: 72%;padding: 3px;height: 100%;">
                <div id="eew_location" class="eew_text text_focus"
                    style="height: 45%;font-weight: 600;"></div>
                <div id="eew_time" class="eew_text" style="font-size: 14px;height: 20%;"></div>
                <div class="eew_text" style="height: 35%;">
                    <div id="eew_scale" class="text_focus" style="width: 40%;font-size: 26px;"></div>
                    <div id="eew_args" style="text-align: right;width: 60%;font-size: 18px;"></div>
                </div>
            </div>
            <div id="detection_location_1"></div>
            <div id="detection_location_2"></div>
        </div>
    </div>
    <div class="report_box surface" id="report_box" style="display: none;">
        <div class="report_title text_focus">
            <div id="report_title_text" style="width: 80%;"></div>
            <div id="report_title_text_number" style="text-align: right;width: 20%;"></div>
        </div>
        <div class="report_body" id="report_body">
            <div class="report_hide" style="width: 28%;background-color: #333439;border-top-right-radius: 5px;">
                <div id="report_max_intensity" style="font-size: 10px;height: 15%;padding: 3px;text-align: center;">
                </div>
                <div id="report_intensity" style="font-size: 50px;height: 79%;border-radius: 5px;"></div>
            </div>
            <div class="report_hide" style="width: 72%;padding: 3px;height: 100%;">
                <div id="report_location" class="report_text_1 text_focus"
                    style="height: 45%;font-weight: 600;"></div>
                <div id="report_time" class="report_text_1" style="font-size: 14px;height: 20%;"></div>
                <div class="report_text_1" style="height: 35%;">
                    <div id="report_scale" class="text_focus" style="width: 40%;font-size: 24px;"></div>
                    <div id="report_args" style="text-align: right;width: 60%;font-size: 16px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="intensity_box surface">
        <div id="max_intensity_text" class="padding_text text_focus"
            style="font-size: 12px;height: 15%;color: white;text-align: center;"></div>
        <div id="max_intensity" style="font-size: 50px;height: 80%;border-radius: 5px;margin: 2px;"></div>
    </div>
    <div class="pga_box surface">
        <div id="max_pga_text" class="padding_text text_focus" style="font-size: 12px;color: white;text-align: center;">
        </div>
        <div id="max_pga" class="padding_text" style="font-size: 12px;border-radius: 5px;padding: 1px;margin: 2px;">
        </div>
    </div>
    <div class="station_box surface">
        <div id="rts_intensity_level" style="font-size: 25px;border-radius: 5px;width: 30%;"></div>
        <div style="width: 75%;padding-left: 5px;">
            <div id="rts_location" class="intensity_center text_focus" style="height: 60%;text-align: start;"></div>
            <div style="display: flex;height: 40%;font-size: 12px;">
                <div id="rts_intensity" style="width: 40%;"></div>
                <div id="rts_pga" style="width: 60%;"></div>
            </div>
        </div>
    </div>
    <div class="intensity_list surface" id="intensity_list"></div>
    <div class="time surface" id="time">---- / -- / -- -- : -- : --</div>
    <div id="report_list" class="report_list scrollbar"></div>
    <i id="location_button" class="fa fa-location-crosshairs location_button"></i>
    <i id="setting_button" class="fa fa-gear setting_button"></i>
    <p id="version" class="version_text"></p>
    <div id="reciprocal" class="reciprocal">
        <div class="reciprocal_text">
            <div id="p_wave"></div>
            <div id="s_wave"></div>
        </div>
        <div id="reciprocal_intensity"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="../core/database.js"></script>
    <script src="../core/globals.js"></script>
    <script src="../core/ui.js"></script>
    <script src="../core/init.js"></script>
    <script src="../core/server.js"></script>
    <script src="../core/action.js"></script>
    <script src="../core/api.js"></script>
    <script src="../core/rts.js"></script>
    <script src="../core/event.js"></script>
    <script src="../core/eew.js"></script>
    <script src="../core/loop.js"></script>
    <script src="../core/main.js"></script>
</body>

</html>