<html lang="zh-Hant">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.3/leaflet.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
</head>

<body class="full" onmousedown="return false">
    <div id="map" class="map full"></div>
    <div class="eew_box surface" id="eew_box">
        <div class="eew_title">
            <div id="eew_title_text" style="width: 80%;"></div>
            <div id="eew_title_text_number" style="text-align: right;width: 20%;"></div>
        </div>
        <div class="eew_body" id="eew_body">
            <div class="eew_hide">
                <div id="eew_max_intensity"
                    style="font-size: 12px;height: 15%;padding: 3px;background-color: #333439;border-radius: 5px;">
                </div>
                <div id="eew_intensity" style="font-size: 50px;height: 80%;border-radius: 5px;"></div>
            </div>
            <div class="eew_hide" style="width: 70%;padding-left: 3px;height: 100%;">
                <div id="eew_location" class="eew_text" style="font-size: 24px;height: 50%;"></div>
                <div id="eew_time" class="eew_text" style="font-size: 14px;height: 20%;"></div>
                <div class="eew_text" style="height: 30%;">
                    <div id="eew_scale" style="width: 40%;font-size: 26px;"></div>
                    <div id="eew_args" style="text-align: right;width: 60%;font-size: 18px;"></div>
                </div>
            </div>
            <div id="detection_location_1"></div>
            <div id="detection_location_2"></div>
        </div>
    </div>
    <div class="intensity_box surface">
        <div id="max_intensity_text" class="padding_text"
            style="font-size: 12px;height: 15%;color: white;text-align: center;"></div>
        <div id="max_intensity" style="font-size: 50px;height: 80%;border-radius: 5px;margin: 2px;"></div>
    </div>
    <div class="pga_box surface">
        <div id="max_pga_text" class="padding_text" style="font-size: 12px;color: white;text-align: center;"></div>
        <div id="max_pga" class="padding_text" style="font-size: 12px;border-radius: 5px;padding: 1px;margin: 2px;">
        </div>
    </div>
    <div class="station_box surface">
        <div id="rts_intensity_level" style="font-size: 25px;border-radius: 5px;width: 30%;"></div>
        <div style="width: 75%;padding-left: 5px;">
            <div id="rts_location" style="height: 60%;display: grid;align-items: center;"></div>
            <div style="display: flex;height: 40%;font-size: 12px;">
                <div id="rts_intensity" style="width: 40%;"></div>
                <div id="rts_pga" style="width: 60%;"></div>
            </div>
        </div>
    </div>
    <div class="intensity_list surface" id="intensity_list"></div>
    <div class="time surface" id="time">---- / -- / -- -- : -- : --</div>
    <div id="report_list" class="report_list scrollbar"></div>
    <i id="location_button" class="fa fa-location-crosshairs location_button"></i>
    <i id="setting_button" class="fa fa-gear setting_button"></i>
    <p id="version" class="version"></p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="../core/globals.js"></script>
    <script src="../core/ui.js"></script>
    <script src="../core/init.js"></script>
    <script src="../core/server.js"></script>
    <script src="../core/action.js"></script>
    <script src="../core/api.js"></script>
    <script src="../core/rts.js"></script>
    <script src="../core/event.js"></script>
    <script src="../core/eew.js"></script>
    <script src="../core/loop.js"></script>
    <script src="../core/main.js"></script>
</body>

</html>