<html lang="zh-Hant">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/setting.css" />
</head>

<body class="full" onmousedown="return false" style="background-color: black;">
    <div class="main">
        <div class="info">
            <div class="item">
                <div class="title_text">所在地</div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="setting_list scrollbar">
        <div class="setting">
            <div id="setting_message" class="setting_item"></div>
            <i class="fa fa-circle-info setting_icon fa-2x"></i>
        </div>
        <div class="setting">
            <div id="setting_graphics" class="setting_item"></div>
            <i class="fa-regular fa-image setting_icon fa-2x"></i>
        </div>
        <div class="setting">
            <div id="setting_sound_effects" class="setting_item"></div>
            <i class="fa-solid fa-music setting_icon fa-2x"></i>
        </div>
        <div class="setting">
            <div id="setting_language" class="setting_item"></div>
            <i class="fa-solid fa-language setting_icon fa-2x"></i>
        </div>
        <div class="setting">
            <div id="setting_plug_in" class="setting_item"></div>
            <i class="fa-solid fa-plug setting_icon fa-2x"></i>
        </div>
        <div class="setting">
            <div id="setting_about" class="setting_item"></div>
            <i class="fa-regular fa-address-card setting_icon fa-2x"></i>
        </div>
        <div style="color: white;text-align: center;font-size: 10px;">Powered by ExpTech</div>
    </div>
    <script src="../core/globals.js"></script>
    <script src="../core/setting.js"></script>
    <script src="../core/ui.js"></script>
</body>

</html>